div#up-up{
    padding: 300px 0px 100px 0px;
}
#hiddenone{
    display: none;
}
#hiddentwo{
    display: none;
}
#hiddenthree{
    display: none;
}

.portfolio{
    width: 1000px;
    padding-left: 50px;
}

  .dos{
      display: flex;
      justify-content: space-around;
      text-align: center;
  }
  div.services h1{
      margin-top: 80px;
      background-attachment: fixed;
  }

  div.services{
      color:white;
  }


p{
    text-align: center;
}
h1{
    text-align: center;
}

div.contact-us{
    justify-content: center;
}

.form-control{
    background: transparent;
    color:white;
}

.foot{
    justify-content: space-around;
}

input::placeholder{
    color:white;
}

textarea::placeholder{
    color:white;
}

 #parone{
     display: none;
 }
 #partwo{
    display: none;
}
#parthree{
    display: none;
}
#parfour{
    display: none;
}
#parfive{
    display: none;
}
#parsix{
    display: none;
}
#parsev{
    display: none;
}
#pareight{
    display: none;
}
  .hide{
      color: black;
      margin-top: -100px;
  } 

.col-3 :hover{
    background: white;
}